nav.navbar.navbar-expand-sm.navbar-dark.bg-primary.mb-3
  .container
    a(href='/')
      h2.navbar-brand GearRepo
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarNav
      ul.navbar-nav.ml-auto
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/gear') Gear List
        li.nav-item
          a.nav-link(href='/gear/add') Add Gear
