doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
  
    // css 
    link(rel='stylesheet', href='https://bootswatch.com/4/simplex/bootstrap.min.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')
    
    title GearRepo
  
  body
    include ../partials/_navbar.pug
    
    main.container
      include ../partials/_msg.pug
      include ../partials/_errors.pug
      block body

    // scripts 
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')