extends layouts/main.pug

block body
  .jumbotron.text-center.mt-4
    h1.display-3
      | GearRepo
    p.lead
      | Catalog your photography gear
    a.btn.btn-dark.btn-lg(href='/gear/add')
      | Go to the Gear List