extends ../layouts/main.pug

block body

  section

    form(action='/gear', method='post')

      .row.justify-content-center

        .col-md-8

          h3.my-4 Gear Item

          .form-group
            label(for='category') Category
            input.form-control(type='text', name='category')

          .form-group
            label(for='manufacturer') Manufacturer
            input.form-control(type='text', name='manufacturer')

          .form-group
            label(for='description') Description
            input.form-control(type='text', name='description')

          .row

            .form-group.col-6
              label(for='purchasePrice') Purchase Price
              .input-group
                .input-group-prepend
                  .input-group-text $
                input.form-control(type='text', name='purchasePrice')

            .form-group.col-6
              label(for='sellPrice') Sell Price
              .input-group
                .input-group-prepend
                  .input-group-text $
                input.form-control(type='text', name='sellPrice')

      .row.justify-content-center.my-4
        .col-8
          button.btn.btn-primary.btn-block(type='submit') Add